HF_TOKEN=
ELFUZZ_IMAGE=ghcr.io/osuseclab/elfuzz:25.08.0
ELFUZZ_CONTAINER=elfuzz-hgb
ELFUZZ_CPUS=8
ELFUZZ_STORAGE_SIZE=100G
ELFUZZ_TARGET=jsoncpp
ELFUZZ_EVOLUTION_ITERATIONS=1
ELFUZZ_TGI_WAITING_SECONDS=120
ELFUZZ_PRODUCE_SECONDS=60
ELFUZZ_AFL_SECONDS=300
ELFUZZ_SKIP_DOWNLOAD=0
